

// --------------------
// Definition of variables
$primary: #cdfdfa;
$marginBottomNavbar: 20px;
$navbarHeight: 60px;

// ----------------------------------------
// To install Boostrap:
// 1) Run in the client folder: $ npm i bootstrap
// 2) Import bootstrap with the following line
@import 'bootstrap/scss/bootstrap';
// ----------------------------------------


// --------------------
// Style reusable for all components
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.info {
  margin: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
  background-color: #5776e9;
  color: white;
}

.info.info-danger {
  background-color: #e73f3f;
}

// --------------------
// Style for App component
// .App {
//   .App-header {
//     background-color: $primary;
//     padding: 20px;
//     color: white;

//     a {
//       color: white;
//       padding: 0 5px;
//       text-decoration: unset;
//     }

//     a.active {
//       font-weight: bold;
//     }
//   }

//   .App-title {
//     font-size: 1.5em;
//   }

//   .App-intro {
//     font-size: large;
//   }
// }

.MainNavbar {
  min-height: $navbarHeight;
  margin-bottom: $marginBottomNavbar;
  background-color: #cdfdfa;
  .logo {
    height: 40px;
    padding-bottom: 4px;
  }
  .navbar-brand {
    padding: 4px 0 0 0;
  }
}

// --------------------
// Style for Home component
.Home {
  p {
    font-size: 1.2em;
  }
}

.Homes {
  margin-top: -$marginBottomNavbar;

  .row {
    height: calc(100vh - #{$navbarHeight});
    
    .col-text {
      padding: 20px;
      overflow-y: scroll;

      h2 {
        text-align: center;
      }

      h4 {
        margin-top: 40px;
      }
    }

    //.map {
      //height: 100%;
      // height: calc(100vh - #{$navbarHeight});
    //}
  }
}

// --------------------
// Style for Secret component
.Secret {
  .result {
    font-size: 1.2em;
    color: $primary;
  }
}

.coordinates {
  background: rgba(0,0,0,0.5);
  color: #fff;
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding:5px 10px;
  margin: 0;
  font-size: 11px;
  line-height: 18px;
  border-radius: 3px;
  display: none;
}

//Colors 

.lightblue {
  background-color: #e2eff2;
}

//Fonts

* {
  font-family: 'Quicksand', sans-serif;
}

//displays

.shadow {
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;
 }

 .center {
  display: flex;
  justify-content:center; 
 }

 .flex {
   display: flex;
 }

 .p20{
   padding: 20px;
 }


 // Login page

 .login {
   margin: 100px auto;
   max-width: 350px;
   justify-content:center; 
   align-content: center;
 }

 .container-login {
   display: flex;
   align-content: center;
   justify-content:center; 

 }


 form {
   padding: 20px;
   border-radius: 20px;
 }

 .diveCard {
   margin: 50px;
   border-radius: 20px;
 }

 .sMap {
   width: 70px !important;
   height: 70px !important;
 }