


// --------------------
// Definition of variables
$primary: #cdfdfa;
// $marginBottomNavbar: 20px;
$navbarHeight: 60px;

// ----------------------------------------
// To install Boostrap:
// 1) Run in the client folder: $ npm i bootstrap
// 2) Import bootstrap with the following line
//@import 'bootstrap/scss/bootstrap';
// ----------------------------------------


// --------------------
// Style reusable for all components
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.info {
  margin: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
  background-color: #5776e9;
  color: white;
}

.info.info-danger {
  background-color: #e73f3f;
}


// --------------------
// Style for App component
// .App {
//   .App-header {
//     background-color: $primary;
//     padding: 20px;
//     color: white;

//     a {
//       color: white;
//       padding: 0 5px;
//       text-decoration: unset;
//     }

//     a.active {
//       font-weight: bold;
//     }
//   }

//   .App-title {
//     font-size: 1.5em;
//   }

//   .App-intro {
//     font-size: large;
//   }
// }

.MainNavbar {
  min-height: $navbarHeight;
  margin-bottom: 0;
  background-color: #cdfdfa55 !important;
  .logo {
    height: 40px;
    padding-bottom: 4px;
  }
  .navbar-brand {
    padding: 4px 0 0 0;
  }
}


// --------------------
// Style for Home component
// .Home {
//   p {
//     font-size: 1.2em;
//   }
// }

// .Homes {
//   margin-top: -$marginBottomNavbar;

//   .row {
//     height: calc(100vh - #{$navbarHeight});
    
//     .col-text {
//       padding: 20px;
//       overflow-y: scroll;

//       h2 {
//         text-align: center;
//       }

//       h4 {
//         margin-top: 40px;
//       }
//     }

    //.map {
      //height: 100%;
      // height: calc(100vh - #{$navbarHeight});
    //}
  //}
//}

// --------------------
// Style for Secret component
.Secret {
  .result {
    font-size: 1.2em;
    color: $primary;
  }
}

.coordinates {
  background: rgba(0,0,0,0.5);
  color: #fff;
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding:5px 10px;
  margin: 0;
  font-size: 11px;
  line-height: 18px;
  border-radius: 3px;
  display: none;
}

//Colors 

.lightblue {
  background-color: #e2eff2;
}
.red {
  color: #EF3F52;
}
.lightgreen {
  color: #51E2EE;
  
}
.midgreen {
  color: #23B0B1;
}
//Fonts

* {
  font-family: 'Quicksand', sans-serif;
}
h2 {
  font-weight: bolder;
}
h3 {
  color: gray;
}

.dark-grey {
  color: #545353;
}

//displays

.shadow {
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;
 }

 .center {
  display: flex;
  justify-content:center; 
 }

 .flex {
   display: flex;
 }

 .p20{
   padding: 50px;
 }

//  .row {
//   border: 1px solid purple;
//  }

//  .col {
//    border: 1px solid orange;
//  }
//  div {
//   border: 1px solid purple;
//  }

 // Login page

 .tMap {
   justify-content: flex-end;
   padding: 0;
 }

 .login {
   margin: 100px auto;
   max-width: 350px;
   justify-content:center; 
   align-content: center;
 }

 .container-login {
   display: flex;
   align-content: center;
   justify-content:center; 

 }

 .tInfo >span {
   font-size: 18px;
   margin-bottom: 10px;
   color: gray;
 }


 .tInfo:nth-child(1) {
  margin-top: 30px;
}

 .ticons {
   justify-content: flex-end;
 }


 form {
   padding: 20px;
   border-radius: 20px;
 }

 .diveCard {
   margin:0 auto 30px auto;
   padding: 20px;
   border-radius: 20px;
   background-color: white; 
 }
 .tInfo {
   align-content: space-between;
 }


 .text-card > span {
   font-size: 20px !important;
 }

 .topFilter {
   margin: 0 auto;
 }

 .aligning {
  //  justify-content: flex-start;
   align-items: center;
   color: white;
   font-weight: bolder;
 }
 .aligning > span {
   margin-left: 0;
  margin-right: 10px;
  text-align: right;
}

 .dives {
   padding:0;
   margin: 0 auto !important;
   margin-bottom:0 !important;
  //  background-color: #BCDAFD;
  background-image: linear-gradient(to left, #051937, #0e426a, #09729f, #00a5d1, #00dcff);
 }
 .contentPage {
   margin:50px 100px;
   width: 1200px;
 }

 .tDescription {
   height: 100px;
   color: gray;
   font-size: 18px;
 }
 .tContainerRest {
   padding: 0;
 }

 .App {
   padding: 0 !important;
   margin: 0 !important;
 }

 


.profilepage {
  margin: 0 !important;
  padding: 0 !important;
  background-image: linear-gradient(to left, #051937, #0e426a, #09729f, #00a5d1, #00dcff);
}

 .profile {
   font-weight: bolder;
   margin: 50px auto;
   width: 500px;
   padding: 30px;
   border-radius: 20px;
   background-color: white;
 }
 /* .align {
  align-content: center;
 } */

 /* .testing{
  width: 50vw
 } */

 